<launch>

  <arg name="viewer" default="false" /> <!-- Must be globally qualified -->
  <arg name="manager" default="stereo_nodelet_manager" /> <!-- Must be globally qualified -->
  <arg name="respawn" default="false" />

  <arg if="$(arg respawn)" name="bond" value="" />
  <arg unless="$(arg respawn)" name="bond" value="--no-bond" />

  <node pkg="nodelet" type="nodelet" name="$(arg manager)" args="manager" output="screen" />

  <!-- arguments for camera param uri -->
  <arg name="camera_info_file_right"
       default="$(find aero_startup)/aero_sensors/config/ps4eye_right.yaml" />
  <arg name="camera_info_file_left"
       default="$(find aero_startup)/aero_sensors/config/ps4eye_left.yaml" />
  <arg name="camera_info_url_default"
       default="file://$(find ps4eye)/camera_info/default.yaml" />
  <arg name="camera_info_url_right"
       default="file://$(arg camera_info_file_right)" />
  <arg name="camera_info_url_left"
       default="file://$(arg camera_info_file_left)" />

  <!-- arguments for tf coords -->
  <arg name="parent_frame" default="/head_base_link" />
  <arg name="parent_transform" default="0.06 0 0.08 -1.570791 0 -1.570791" />

  <!-- This launchfile should bring up a node that broadcasts a ros image
       transport on /webcam/image_raw -->
  <arg name="load_driver" default="true" />
  <arg name="DEVICE" default="/dev/video0"/>
  <!-- The GStreamer framerate needs to be an integral fraction -->
  <arg name="FPS" default="60/1"/>
  <!-- Available resolution should be 3448x808, 1748x408,1744x408,898x200,896x200 -->
  <arg name="width" default="1748"/>
  <arg name="height" default="408"/>
  <arg name="PUBLISH_FRAME" default="false"/>

  <arg name="PUBLISH_TF" default="true" />
  <node name="camera_transform" pkg="tf" type="static_transform_publisher" args="$(arg parent_transform) $(arg parent_frame) /ps4eye_frame 10" if="$(arg PUBLISH_TF)"/>

  <group ns="stereo">
    <include file="$(find stereo_image_proc)/launch/stereo_image_proc.launch">
      <arg name="manager" value="/$(arg manager)" />
    </include>
  </group>

  <!-- start viewer -->
  <node name="stereo_view" pkg="image_view" type="stereo_view" args="stereo:=/stereo image:=image_rect_color" if="$(arg viewer)"/>

</launch>
