*~
*.pyc
aero_description/models
aero_startup/CMakeLists.txt
aero_startup/generated_controllers.launch
aero_startup/aero_controller_manager/AeroJointStatePublisher.cc
aero_startup/aero_controller_manager/AeroTorsoController.cc
aero_startup/aero_controller_manager/AeroHandController.cc
aero_startup/aero_hardware_interface/AeroControllers.cc
aero_startup/aero_hardware_interface/Constants.hh
aero_startup/aero_hardware_interface/Angle2Stroke.*
aero_startup/aero_hardware_interface/Stroke2Angle.*
aero_startup/aero_hardware_interface/AngleJointNames.*
aero_startup/aero_hardware_interface/UnusedAngle2Stroke.hh
aero_startup/aero_move_base/AeroBaseController.cc
aero_moveit_config/models/aero_virtual_lifter.urdf
aero_moveit_config/models/camera_link.conf
aero_moveit_config/config/AeroUpperRobot.srdf