<launch>
  <!-- OCS to FC -->
  <node pkg="aero_network_tools" type="silverhammer_lowspeed_streamer.py"
        output="screen"
        name="ocs_streamer">
    <rosparam>                
      message: aero_network_tools/AeroNarrowCommand
      to_ip:   10.14.1.203
      to_port: 1025                        
    </rosparam>
    <remap from="~input" to="/aero_network/cmd_narrow_band/streamer" />
  </node>
  <node pkg="aero_network_tools" type="silverhammer_lowspeed_receiver.py"
        output="screen"
        name="ocs_receiver">
    <rosparam>    
      message: aero_network_tools/AeroJointAngles                                     
      to_ip:   10.14.1.203
      receive_port: 1025                             
    </rosparam>
    <remap from="~output" to="/aero_network/av_narrow_band/receiver" />
  </node>
</launch>
