<!-- Launch at seed/W541 (OCS) -->
<launch>
  <!-- ps4eye view @ OCS -->
  <node pkg="image_view" type="image_view" name="ps4eye_view">
    <remap from="image" to="/ocs/stereo/left/image_raw"/>
    <param name="window_name" type="string" value="MAIN CAMERA"/>
  </node>

  <!-- GigE view @ OCS -->
  <node pkg="image_view" type="image_view" name="gige_view">
    <remap from="image" to="/ocs/aero_hand_leg_eyes/image"/>
    <param name="window_name" type="string" value="LEG CAMERA"/>
  </node>
</launch>
