<launch>
  <rosparam command="load" file="$(find aero_moveit_config)/config/ompl_planning.yaml"/>
  <node name="planning_with_lib_sample_node" pkg="aero_samples" type="planning_with_lib_sample_node" respawn="false" output="screen">
    <rosparam command="load" file="$(find aero_moveit_config)/config/kinematics.yaml"/>
  </node>
</launch>