<launch>
  <!--hardware controller-->
  <node name="aero_controller" pkg="aero_startup"
  	type="aero_controller_node" output="screen"/>

  <!--robot tfs-->
  <include file="$(find aero_startup)/aero_controller_manager/launch/controller_manager.launch"/>

  <!-- >>> add controllers -->
  <!-- <<< add controllers -->

  <!--ps4eye sensor-->
  <include file="$(find aero_startup)/aero_sensors/launch/start_ps4eye.launch"/>
</launch>