<launch>
  <arg name="port_upper" default="/dev/aero_upper"/>
  <arg name="port_lower" default="/dev/aero_lower"/>

  <!--hardware controller-->
  <node name="aero_controller" pkg="aero_startup"
        type="aero_controller_node" output="screen">
      <param name="port_upper" value="$(arg port_upper)"/>
      <param name="port_lower" value="$(arg port_lower)"/>
  </node>

  <!--robot tfs-->
  <include file="$(find aero_moveit_config)/launch/controller_manager.launch"/>

  <include file="$(find aero_startup)/generated_controllers.launch"/>

  <include file="$(find aero_moveit_config)/launch/moveit_planning_execution.launch"/>

  <!--ps4eye sensor-->
  <!--include file="$(find aero_startup)/aero_sensors/launch/start_ps4eye.launch"/>
  <node pkg="topic_tools" type="throttle" name="ps4eye_throttle"
        args="messages /stereo/points2 2.0" /-->
</launch>
