<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       name="AeroUpperRobot" >

  <!-- The following included files set up definitions of parts of the robot body -->
  <!-- common variables -->
  <xacro:include filename="$(find aero_description)/urdf/common.xacro" />
  <!-- wraps upperbody and hand-->
  <xacro:include filename="$(find aero_description)/urdf/aero-upper.urdf.xacro" />
  <!-- wraps lifter and wheels-->
  <xacro:include filename="$(find aero_description)/urdf/aero-wheels.urdf.xacro" />

 <!-- Now we can start using the macros included above to define the actual robot -->

 <xacro:aero-upper/>

  <xacro:aero-wheels base_link="base_link" virtual_lifter="true" x_max="-0.2" x_min="0.2" z_max="0.0" z_min="-0.4" disable_mesh="true"/>

</robot>
